In [ ]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [ ]:
!pip install -q cassandra-driver

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
# Madhumitha Saravanan
# msaravan@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [ ]:
#1 Spark session
import pyspark
from pyspark.sql import SparkSession

cassandra_host = "cassandra"
s3_host = "minio"
s3_server = f"http://{s3_host}:9000"
s3_access_key = "minio"
s3_secret_key = "SU2orange!"
s3_bucket = "enrollments"
elastic_host = "elasticsearch"
elastic_port = "9200"
mongo_uri = f"mongodb://admin:mongopw@mongo:27017/admin?authSource=admin"
bolt_url = "bolt://neo4j:7687"
jars = [
     "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0",
    "org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0"
    ]

spark = SparkSession.builder\
        .master("local")\
        .appName('jupyter-pyspark')\
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.cassandra.connection.host",cassandra_host)\
        .config("spark.es.nodes",elastic_host)\
        .config("spark.es.port",elastic_port)\
        .config("spark.es.nodes.wan.only", "true") \
        .config("spark.mongodb.input.uri",mongo_uri)\
        .config("spark.mongodb.output.uri",mongo_uri)\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")\
         .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down

In [ ]:
# Read the process-oriented data enrollments and sections from minio using PySpark
#2a enrollments
enrollments= spark.read.csv("s3a://enrollments/enrollments.csv",header=True)
enrollments= enrollments.withColumnRenamed("term", "enrollmentterm")
enrollments= enrollments.withColumnRenamed("course", "enrollmentcourse")
enrollments= enrollments.withColumnRenamed("section","enrollmentsection")
enrollments.show()

+--------------+-----------------+----------------+-----------------+-----------------+-----+------------+
|enrollmentterm|course_enrollment|enrollmentcourse|enrollmentsection|       student_id|grade|grade_points|
+--------------+-----------------+----------------+-----------------+-----------------+-----+------------+
|          1221|                1|          IST659|             M001|      orenjouglad|    C|         2.0|
|          1221|                2|          IST659|             M001|      billmelator|    A|         4.0|
|          1221|                3|          IST659|             M001|       morrisless|    A|         4.0|
|          1221|                4|          IST659|             M001|amberwavesofgrain|   A-|       3.667|
|          1221|                5|          IST659|             M001|         abbykuss|    A|         4.0|
|          1221|                6|          IST659|             M001|       tallyitupp|    A|         4.0|
|          1221|                7|          IST659|             M001|     rubyslippers|   B-|       2.667|
|          1221|                8|          IST659|             M001|          salladd|   A-|       3.667|
|          1221|                9|          IST659|             M001|isabellegunnering|    A|         4.0|
|          1221|               10|          IST659|             M001|        rustycarz|    B|         3.0|
|          1221|               11|          IST659|             M001|      pattyo'beef|    A|         4.0|
|          1221|               12|          IST659|             M001|        tyitdowne|    A|         4.0|
|          1221|               13|          IST659|             M001|        windysees|    A|         4.0|
|          1221|               14|          IST659|             M001|      gingersnaps|   A-|       3.667|
|          1221|               15|          IST659|             M001|        harrypits|    A|         4.0|
|          1221|               16|          IST659|             M001|        frankklee|    A|         4.0|
|          1221|               17|          IST659|             M001|   chrispeanugget|    A|         4.0|
|          1221|               18|          IST659|             M001|    isrealornotte|   A-|       3.667|
|          1221|               19|          IST659|             M001|      windyshores|    A|         4.0|
|          1221|               20|          IST659|             M001|     mistymeadows|    A|         4.0|
+--------------+-----------------+----------------+-----------------+-----------------+-----+------------+
only showing top 20 rows

In [ ]:
#2b sections
sections= spark.read.csv("s3a://enrollments/sections.csv",header=True)

sections.show()

+----+------+-------+----------+--------+
|term|course|section|enrollment|capacity|
+----+------+-------+----------+--------+
|1221|IST659|   M001|        20|      20|
|1221|IST659|   M002|        20|      20|
|1221|IST722|   M001|        25|      28|
|1221|IST615|   M001|        22|      28|
|1221|IST621|   M001|        22|      24|
|1221|IST687|   M001|        20|      20|
|1221|IST687|   M002|        21|      24|
|1221|IST707|   M001|        28|      28|
|1222|IST659|   M001|        24|      24|
|1222|IST769|   M001|        19|      24|
|1222|IST615|   M001|        19|      24|
|1222|IST714|   M001|        17|      20|
|1222|IST621|   M001|        28|      28|
|1222|IST621|   M002|        22|      24|
|1222|IST687|   M001|        18|      20|
|1222|IST687|   M002|        20|      20|
|1222|IST718|   M001|        28|      28|
|1231|IST659|   M001|        20|      20|
|1231|IST659|   M002|        20|      20|
|1231|IST722|   M001|        23|      28|
+----+------+-------+----------+--------+
only showing top 20 rows

In [ ]:
# Read the reference-oriented data terms, students, courses, and program reference data from MongoDb using PySpark
#3a terms
terms = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","terms") \
    .load()
#terms.toPandas()
terms= terms.withColumnRenamed("code", "icode")
terms = terms.withColumnRenamed("name","termname")
terms = terms.withColumnRenamed("_id","termid")

terms.show()

+------+-------------+-----+-----------+--------+----+
|termid|academic_year|icode|   termname|semester|year|
+------+-------------+-----+-----------+--------+----+
|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|
|  1222|    2021-2022| 1222|Spring 2022|  Spring|2022|
|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|
|  1232|    2022-2023| 1232|Spring 2023|  Spring|2023|
+------+-------------+-----+-----------+--------+----+

In [ ]:
#3b courses
courses = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","courses") \
    .load()
#courses.toPandas()
courses= courses.withColumnRenamed("code", "ischoolcode")
courses = courses.withColumnRenamed("name","coursename")
courses = courses.withColumnRenamed("_id","courseid")

courses.show()

+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|courseid|ischoolcode|credits|         description|elective_in_programs| key_assignments|          coursename|prerequisites|required_in_programs|
+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|  IST722|     IST722|      3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|  IST769|     IST769|      3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|  IST714|     IST714|      3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
|  IST621|     IST621|      3|Information and t...|                  []|         [paper]|Information Manag...|           []|                [IS]|
|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|  IST707|     IST707|      3|General overview ...|                [IS]|          [exam]|Applied Machine L...|     [IST687]|                [DS]|
|  IST718|     IST718|      3|A broad introduct...|                  []|       [project]|  Big Data Analytics|     [IST687]|                [DS]|
+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+

In [ ]:
#3c Programs
programs = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","programs") \
    .load()
programs = programs.withColumnRenamed("name","programname")
programs = programs.withColumnRenamed("_id","programid")
programs = programs.withColumnRenamed("credits","programcredits")
programs.toPandas()

programs.show()

+---------+----+--------------+--------------------+--------------------+--------------------+-----------+
|programid|code|programcredits|    elective_courses|         programname|    required_courses|       type|
+---------+----+--------------+--------------------+--------------------+--------------------+-----------+
|       IS|  IS|            36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
|       DS|  DS|            34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|      BDC| BDC|             9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|      CCC| CCC|             9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|      MLC| MLC|             9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+---------+----+--------------+--------------------+--------------------+--------------------+-----------+

In [ ]:
#3d students
students = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","students") \
    .load()
students = students.withColumnRenamed("_id","studentid")
students.show(5)

+------------+-------------+-------+
|   studentid|         name|program|
+------------+-------------+-------+
|    abbykuss|    Abby Kuss|     DS|
|  adamantium|  Adam Antium|     IS|
|   addieowse|   Addie Owse|     IS|
|aidensomewun|Aiden Somewun|     IS|
|aidenknowone|Aiden Knowone|     DS|
+------------+-------------+-------+
only showing top 5 rows

In [ ]:
# Prepared the section data for loading into cassandra and elasticsearch with Spark or Spark SQL
#4 wide_sections
sectionNew = sections.join(terms,sections.term == terms.termid, "inner")
#sectionNew.show()

section = sectionNew.join(courses,sectionNew.course==courses.courseid,"inner")
section.show()
section.printSchema()

+----+------+-------+----------+--------+------+-------------+-----+-----------+--------+----+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|term|course|section|enrollment|capacity|termid|academic_year|icode|   termname|semester|year|courseid|ischoolcode|credits|         description|elective_in_programs| key_assignments|          coursename|prerequisites|required_in_programs|
+----+------+-------+----------+--------+------+-------------+-----+-----------+--------+----+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|1221|IST615|   M001|        22|      28|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|1222|IST615|   M001|        19|      24|  1222|    2021-2022| 1222|Spring 2022|  Spring|2022|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|1231|IST615|   M001|        21|      24|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|1232|IST615|   M002|        20|      24|  1232|    2022-2023| 1232|Spring 2023|  Spring|2023|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|1232|IST615|   M001|        21|      28|  1232|    2022-2023| 1232|Spring 2023|  Spring|2023|  IST615|     IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|1221|IST659|   M002|        20|      20|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1221|IST659|   M001|        20|      20|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1222|IST659|   M001|        24|      24|  1222|    2021-2022| 1222|Spring 2022|  Spring|2022|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1231|IST659|   M002|        20|      20|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1231|IST659|   M001|        20|      20|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1232|IST659|   M001|        20|      20|  1232|    2022-2023| 1232|Spring 2023|  Spring|2023|  IST659|     IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|1221|IST687|   M002|        21|      24|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1221|IST687|   M001|        20|      20|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1222|IST687|   M002|        20|      20|  1222|    2021-2022| 1222|Spring 2022|  Spring|2022|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1222|IST687|   M001|        18|      20|  1222|    2021-2022| 1222|Spring 2022|  Spring|2022|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1231|IST687|   M002|        20|      24|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1231|IST687|   M001|        17|      20|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1232|IST687|   M001|        19|      24|  1232|    2022-2023| 1232|Spring 2023|  Spring|2023|  IST687|     IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|1221|IST707|   M001|        28|      28|  1221|    2021-2022| 1221|  Fall 2021|    Fall|2021|  IST707|     IST707|      3|General overview ...|                [IS]|          [exam]|Applied Machine L...|     [IST687]|                [DS]|
|1231|IST707|   M001|        24|      24|  1231|    2022-2023| 1231|  Fall 2022|    Fall|2022|  IST707|     IST707|      3|General overview ...|                [IS]|          [exam]|Applied Machine L...|     [IST687]|                [DS]|
+----+------+-------+----------+--------+------+-------------+-----+-----------+--------+----+--------+-----------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 20 rows

root
 |-- term: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: string (nullable = true)
 |-- capacity: string (nullable = true)
 |-- termid: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- icode: string (nullable = true)
 |-- termname: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- courseid: string (nullable = true)
 |-- ischoolcode: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- coursename: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
# Constructed a python code to connect cassandra within Jupyter and created a keyspace named ischooldb
from cassandra.cluster import Cluster


# Connect to Cassandra cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()

    drop_table_query = "DROP TABLE IF EXISTS ischooldb.sections;"
    session.execute(drop_table_query)

    # Create keyspace if not exists
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};")

    create_table_query = """
    CREATE TABLE IF NOT EXISTS ischooldb.sections (
        term text,
        course text,
        section text,
        enrollment text,
        capacity text,
        termid text,
        academic_year text,
        icode text,
        termname text,
        coursename text,
        semester text,
        year int,
        courseid text,
        ischoolcode text,
        credits int,
        description text,
        elective_in_programs list<text>,
        key_assignments list<text>,
        prerequisites list<text>,
        required_in_programs list<text>,
        PRIMARY KEY ((section, term), course)
    );
    """
    session.execute(create_table_query)

In [ ]:
sections =spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="sections", keyspace="ischooldb") \
    .load()

sections.show()
sections.printSchema()

+-------+----+------+-------------+--------+--------+----------+-------+-----------+--------------------+----------+-----+-----------+---------------+-------------+--------------------+--------+------+--------+----+
|section|term|course|academic_year|capacity|courseid|coursename|credits|description|elective_in_programs|enrollment|icode|ischoolcode|key_assignments|prerequisites|required_in_programs|semester|termid|termname|year|
+-------+----+------+-------------+--------+--------+----------+-------+-----------+--------------------+----------+-----+-----------+---------------+-------------+--------------------+--------+------+--------+----+
+-------+----+------+-------------+--------+--------+----------+-------+-----------+--------------------+----------+-----+-----------+---------------+-------------+--------------------+--------+------+--------+----+

root
 |-- section: string (nullable = false)
 |-- term: string (nullable = false)
 |-- course: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- coursename: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- enrollment: string (nullable = true)
 |-- icode: string (nullable = true)
 |-- ischoolcode: string (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- semester: string (nullable = true)
 |-- termid: string (nullable = true)
 |-- termname: string (nullable = true)
 |-- year: integer (nullable = true)

In [ ]:
#6 load wide_sections into cassandra

section.write.format("org.apache.spark.sql.cassandra")\
  .mode("Append")\
  .option("table", "sections")\
  .option("keyspace","ischooldb")\
  .save()

In [ ]:
df= spark.read.format("org.apache.spark.sql.cassandra") \
       .options(table="sections", keyspace="ischooldb") \
       .load()
df.show()

+-------+----+------+-------------+--------+--------+--------------------+-------+--------------------+--------------------+----------+-----+-----------+----------------+-------------+--------------------+--------+------+-----------+----+
|section|term|course|academic_year|capacity|courseid|          coursename|credits|         description|elective_in_programs|enrollment|icode|ischoolcode| key_assignments|prerequisites|required_in_programs|semester|termid|   termname|year|
+-------+----+------+-------------+--------+--------+--------------------+-------+--------------------+--------------------+----------+-----+-----------+----------------+-------------+--------------------+--------+------+-----------+----+
|   M002|1232|IST615|    2022-2023|      24|  IST615|    Cloud Management|      3|Cloud services cr...|                  []|        20| 1232|     IST615|[project, paper]|           []|            [IS, DS]|  Spring|  1232|Spring 2023|2023|
|   M002|1232|IST621|    2022-2023|      24|  IST621|Information Manag...|      3|Information and t...|                  []|        21| 1232|     IST621|         [paper]|           []|                [IS]|  Spring|  1232|Spring 2023|2023|
|   M001|1231|IST615|    2022-2023|      24|  IST615|    Cloud Management|      3|Cloud services cr...|                  []|        21| 1231|     IST615|[project, paper]|           []|            [IS, DS]|    Fall|  1231|  Fall 2022|2022|
|   M001|1231|IST621|    2022-2023|      28|  IST621|Information Manag...|      3|Information and t...|                  []|        28| 1231|     IST621|         [paper]|           []|                [IS]|    Fall|  1231|  Fall 2022|2022|
|   M001|1231|IST659|    2022-2023|      20|  IST659|Data Administrati...|      3|Definition, devel...|                  []|        20| 1231|     IST659|       [project]|           []|            [IS, DS]|    Fall|  1231|  Fall 2022|2022|
|   M001|1231|IST687|    2022-2023|      20|  IST687|Introduction to D...|      3|Introduces inform...|                [IS]|        17| 1231|     IST687| [project, exam]|           []|                [DS]|    Fall|  1231|  Fall 2022|2022|
|   M001|1231|IST707|    2022-2023|      24|  IST707|Applied Machine L...|      3|General overview ...|                [IS]|        24| 1231|     IST707|          [exam]|     [IST687]|                [DS]|    Fall|  1231|  Fall 2022|2022|
|   M001|1231|IST722|    2022-2023|      28|  IST722|    Data Warehousing|      3|Introduction to c...|                [IS]|        23| 1231|     IST722| [project, exam]|     [IST659]|                  []|    Fall|  1231|  Fall 2022|2022|
|   M002|1222|IST621|    2021-2022|      24|  IST621|Information Manag...|      3|Information and t...|                  []|        22| 1222|     IST621|         [paper]|           []|                [IS]|  Spring|  1222|Spring 2022|2022|
|   M002|1222|IST687|    2021-2022|      20|  IST687|Introduction to D...|      3|Introduces inform...|                [IS]|        20| 1222|     IST687| [project, exam]|           []|                [DS]|  Spring|  1222|Spring 2022|2022|
|   M001|1221|IST615|    2021-2022|      28|  IST615|    Cloud Management|      3|Cloud services cr...|                  []|        22| 1221|     IST615|[project, paper]|           []|            [IS, DS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1221|IST621|    2021-2022|      24|  IST621|Information Manag...|      3|Information and t...|                  []|        22| 1221|     IST621|         [paper]|           []|                [IS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1221|IST659|    2021-2022|      20|  IST659|Data Administrati...|      3|Definition, devel...|                  []|        20| 1221|     IST659|       [project]|           []|            [IS, DS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1221|IST687|    2021-2022|      20|  IST687|Introduction to D...|      3|Introduces inform...|                [IS]|        20| 1221|     IST687| [project, exam]|           []|                [DS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1221|IST707|    2021-2022|      28|  IST707|Applied Machine L...|      3|General overview ...|                [IS]|        28| 1221|     IST707|          [exam]|     [IST687]|                [DS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1221|IST722|    2021-2022|      28|  IST722|    Data Warehousing|      3|Introduction to c...|                [IS]|        25| 1221|     IST722| [project, exam]|     [IST659]|                  []|    Fall|  1221|  Fall 2021|2021|
|   M002|1221|IST659|    2021-2022|      20|  IST659|Data Administrati...|      3|Definition, devel...|                  []|        20| 1221|     IST659|       [project]|           []|            [IS, DS]|    Fall|  1221|  Fall 2021|2021|
|   M002|1221|IST687|    2021-2022|      24|  IST687|Introduction to D...|      3|Introduces inform...|                [IS]|        21| 1221|     IST687| [project, exam]|           []|                [DS]|    Fall|  1221|  Fall 2021|2021|
|   M001|1232|IST615|    2022-2023|      28|  IST615|    Cloud Management|      3|Cloud services cr...|                  []|        21| 1232|     IST615|[project, paper]|           []|            [IS, DS]|  Spring|  1232|Spring 2023|2023|
|   M001|1232|IST621|    2022-2023|      28|  IST621|Information Manag...|      3|Information and t...|                  []|        28| 1232|     IST621|         [paper]|           []|                [IS]|  Spring|  1232|Spring 2023|2023|
+-------+----+------+-------------+--------+--------+--------------------+-------+--------------------+--------------------+----------+-----+-----------+----------------+-------------+--------------------+--------+------+-----------+----+
only showing top 20 rows

In [ ]:
# Flattened the Nested data to load data into Elastic Search
from pyspark.sql.functions import col, expr, array_contains

elastic_sections = section \
    .withColumn("course_is_elective_for_IS", array_contains(col("elective_in_programs"), "IS").cast("string")) \
    .withColumn("course_is_elective_for_DS", array_contains(col("elective_in_programs"), "DS").cast("string")) \
    .withColumn("course_is_required_for_IS", array_contains(col("required_in_programs"), "IS").cast("string")) \
    .withColumn("course_is_required_for_DS", array_contains(col("required_in_programs"), "DS").cast("string")) \
    .drop("elective_in_programs", "required_in_programs", "prerequisites", "key_assignments","icode","ischoolcode","termid","courseid")

elastic_sections.show(34)

+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|term|course|section|enrollment|capacity|academic_year|   termname|semester|year|credits|         description|          coursename|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|
+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|1221|IST615|   M001|        22|      28|    2021-2022|  Fall 2021|    Fall|2021|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|1222|IST615|   M001|        19|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|1231|IST615|   M001|        21|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|1232|IST615|   M002|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|1232|IST615|   M001|        21|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|1221|IST659|   M002|        20|      20|    2021-2022|  Fall 2021|    Fall|2021|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1221|IST659|   M001|        20|      20|    2021-2022|  Fall 2021|    Fall|2021|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1222|IST659|   M001|        24|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1231|IST659|   M002|        20|      20|    2022-2023|  Fall 2022|    Fall|2022|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1231|IST659|   M001|        20|      20|    2022-2023|  Fall 2022|    Fall|2022|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1232|IST659|   M001|        20|      20|    2022-2023|Spring 2023|  Spring|2023|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|1221|IST687|   M002|        21|      24|    2021-2022|  Fall 2021|    Fall|2021|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1221|IST687|   M001|        20|      20|    2021-2022|  Fall 2021|    Fall|2021|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1222|IST687|   M002|        20|      20|    2021-2022|Spring 2022|  Spring|2022|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1222|IST687|   M001|        18|      20|    2021-2022|Spring 2022|  Spring|2022|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1231|IST687|   M002|        20|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1231|IST687|   M001|        17|      20|    2022-2023|  Fall 2022|    Fall|2022|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1232|IST687|   M001|        19|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|1221|IST707|   M001|        28|      28|    2021-2022|  Fall 2021|    Fall|2021|      3|General overview ...|Applied Machine L...|                     true|                    false|                    false|                     true|
|1231|IST707|   M001|        24|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|General overview ...|Applied Machine L...|                     true|                    false|                    false|                     true|
|1222|IST769|   M001|        19|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Analyze relationa...|Advanced Big Data...|                    false|                     true|                    false|                    false|
|1232|IST769|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Analyze relationa...|Advanced Big Data...|                    false|                     true|                    false|                    false|
|1221|IST722|   M001|        25|      28|    2021-2022|  Fall 2021|    Fall|2021|      3|Introduction to c...|    Data Warehousing|                     true|                    false|                    false|                    false|
|1231|IST722|   M001|        23|      28|    2022-2023|  Fall 2022|    Fall|2022|      3|Introduction to c...|    Data Warehousing|                     true|                    false|                    false|                    false|
|1221|IST621|   M001|        22|      24|    2021-2022|  Fall 2021|    Fall|2021|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1222|IST621|   M002|        22|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1222|IST621|   M001|        28|      28|    2021-2022|Spring 2022|  Spring|2022|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1231|IST621|   M001|        28|      28|    2022-2023|  Fall 2022|    Fall|2022|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1232|IST621|   M002|        21|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1232|IST621|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|1222|IST718|   M001|        28|      28|    2021-2022|Spring 2022|  Spring|2022|      3|A broad introduct...|  Big Data Analytics|                    false|                    false|                    false|                     true|
|1232|IST718|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|A broad introduct...|  Big Data Analytics|                    false|                    false|                    false|                     true|
|1222|IST714|   M001|        17|      20|    2021-2022|Spring 2022|  Spring|2022|      3|Advanced, lab-bas...|  Cloud Architecture|                     true|                     true|                    false|                    false|
|1232|IST714|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Advanced, lab-bas...|  Cloud Architecture|                     true|                     true|                    false|                    false|
+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+

In [ ]:
#8 load wide_sections_flattened into elasticsearch
elastic_sections.write.mode("Overwrite").format("es").save("sections/_doc")


sectionsEs = spark.read.format("es").load("sections/_doc")
sectionsEs.toPandas()

,academic_year,capacity,course,course_is_elective_for_DS,course_is_elective_for_IS,course_is_required_for_DS,course_is_required_for_IS,coursename,credits,description,enrollment,section,semester,term,termname,year
0,2021-2022,28,IST615,false,false,true,true,Cloud Management,3,Cloud services creation and management. Practi...,22,M001,Fall,1221,Fall 2021,2021
1,2021-2022,24,IST615,false,false,true,true,Cloud Management,3,Cloud services creation and management. Practi...,19,M001,Spring,1222,Spring 2022,2022
2,2022-2023,24,IST615,false,false,true,true,Cloud Management,3,Cloud services creation and management. Practi...,21,M001,Fall,1231,Fall 2022,2022
3,2022-2023,24,IST615,false,false,true,true,Cloud Management,3,Cloud services creation and management. Practi...,20,M002,Spring,1232,Spring 2023,2023
4,2022-2023,28,IST615,false,false,true,true,Cloud Management,3,Cloud services creation and management. Practi...,21,M001,Spring,1232,Spring 2023,2023
5,2021-2022,20,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M002,Fall,1221,Fall 2021,2021
6,2021-2022,20,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,Fall,1221,Fall 2021,2021
7,2021-2022,24,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",24,M001,Spring,1222,Spring 2022,2022
8,2022-2023,20,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M002,Fall,1231,Fall 2022,2022
9,2022-2023,20,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,Fall,1231,Fall 2022,2022
10,2022-2023,20,IST659,false,false,true,true,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",20,M001,Spring,1232,Spring 2023,2023
11,2021-2022,24,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,21,M002,Fall,1221,Fall 2021,2021
12,2021-2022,20,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M001,Fall,1221,Fall 2021,2021
13,2021-2022,20,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M002,Spring,1222,Spring 2022,2022
14,2021-2022,20,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,18,M001,Spring,1222,Spring 2022,2022
15,2022-2023,24,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,20,M002,Fall,1231,Fall 2022,2022
16,2022-2023,20,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,17,M001,Fall,1231,Fall 2022,2022
17,2022-2023,24,IST687,false,true,true,false,Introduction to Data Science,3,Introduces information professionals to fundam...,19,M001,Spring,1232,Spring 2023,2023
18,2021-2022,28,IST707,false,true,true,false,Applied Machine Learning,3,General overview of industry standard machine ...,28,M001,Fall,1221,Fall 2021,2021
19,2022-2023,24,IST707,false,true,true,false,Applied Machine Learning,3,General overview of industry standard machine ...,24,M001,Fall,1231,Fall 2022,2022
20,2021-2022,24,IST769,true,false,false,false,Advanced Big Data Management,3,Analyze relational and non-relational database...,19,M001,Spring,1222,Spring 2022,2022
21,2022-2023,24,IST769,true,false,false,false,Advanced Big Data Management,3,Analyze relational and non-relational database...,20,M001,Spring,1232,Spring 2023,2023
22,2021-2022,28,IST722,false,true,false,false,Data Warehousing,3,Introduction to concepts of business intellige...,25,M001,Fall,1221,Fall 2021,2021
23,2022-2023,28,IST722,false,true,false,false,Data Warehousing,3,Introduction to concepts of business intellige...,23,M001,Fall,1231,Fall 2022,2022
24,2021-2022,24,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,22,M001,Fall,1221,Fall 2021,2021
25,2021-2022,24,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,22,M002,Spring,1222,Spring 2022,2022
26,2021-2022,28,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,28,M001,Spring,1222,Spring 2022,2022
27,2022-2023,28,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,28,M001,Fall,1231,Fall 2022,2022
28,2022-2023,24,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,21,M002,Spring,1232,Spring 2023,2023
29,2022-2023,28,IST621,false,false,false,true,Information Management and Technology,3,Information and technology management overview...,28,M001,Spring,1232,Spring 2023,2023
30,2021-2022,28,IST718,false,false,true,false,Big Data Analytics,3,A broad introduction to big data analytical an...,28,M001,Spring,1222,Spring 2022,2022
31,2022-2023,28,IST718,false,false,true,false,Big Data Analytics,3,A broad introduction to big data analytical an...,28,M001,Spring,1232,Spring 2023,2023
32,2021-2022,20,IST714,true,true,false,false,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",17,M001,Spring,1222,Spring 2022,2022
33,2022-2023,24,IST714,true,true,false,false,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",20,M001,Spring,1232,Spring 2023,2023

In [ ]:
#9 create wide_enrollments

programjoin = programs.join(students,programs.programid == students.program, "inner")

programjoin = programjoin.drop("code","program","required_courses","elective_courses")
programjoin.show()

+---------+--------------+------------+-------+-----------------+------------------+
|programid|programcredits| programname|   type|        studentid|              name|
+---------+--------------+------------+-------+-----------------+------------------+
|       DS|            34|Data Science|Masters|         abbykuss|         Abby Kuss|
|       DS|            34|Data Science|Masters|     aidenknowone|     Aiden Knowone|
|       DS|            34|Data Science|Masters|         alfrecso|         Al Frecso|
|       DS|            34|Data Science|Masters|          alkohol|          Al Kohol|
|       DS|            34|Data Science|Masters|amberwavesofgrain|Amber Wavesofgrain|
|       DS|            34|Data Science|Masters|      anitashower|      Anita Shower|
|       DS|            34|Data Science|Masters|    anitasandwich|    Anita Sandwich|
|       DS|            34|Data Science|Masters|       aprilfirst|       April First|
|       DS|            34|Data Science|Masters|       arialphoto|       Arial Photo|
|       DS|            34|Data Science|Masters|       artiechoke|       Artie Choke|
|       DS|            34|Data Science|Masters|   auroraborealis|   Aurora Borealis|
|       DS|            34|Data Science|Masters|  barrydehatchett|  Barry DeHatchett|
|       DS|            34|Data Science|Masters|       betteitall|       Bette Itall|
|       DS|            34|Data Science|Masters|      billmelator|      Bill Melator|
|       DS|            34|Data Science|Masters|       billislate|       Bill Islate|
|       DS|            34|Data Science|Masters|  blanchedalmonds|  Blanche Dalmonds|
|       DS|            34|Data Science|Masters|       boenarreau|       Bo Enarreau|
|       DS|            34|Data Science|Masters|       bobenweave|       Bob Enweave|
|       DS|            34|Data Science|Masters|      braydenhair|      Brayden Hair|
|       DS|            34|Data Science|Masters|        bucknaked|        Buck Naked|
+---------+--------------+------------+-------+-----------------+------------------+
only showing top 20 rows

In [ ]:
enrollmentJoin = enrollments.join(section,enrollments.enrollmentterm == section.term,"inner")
enrollmentJoin = enrollmentJoin.drop("enrollmentcourse","termid","icode","ischoolcode","courseid","enrollmentterm","enrollmentsection","elective_in_programs","key_assignments","prerequisites","required_in_programs")
enrollmentJoin.show()

+-----------------+----------------+-----+------------+----+------+-------+----------+--------+-------------+---------+--------+----+-------+--------------------+----------------+
|course_enrollment|      student_id|grade|grade_points|term|course|section|enrollment|capacity|academic_year| termname|semester|year|credits|         description|      coursename|
+-----------------+----------------+-----+------------+----+------+-------+----------+--------+-------------+---------+--------+----+-------+--------------------+----------------+
|               28|      peteterpan|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               27|      robinbanks|    B|         3.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               26|    elieenonyewe|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               25|    aidensomewun|   A-|       3.667|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               24|   isrealornotte|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               23|      dandelyons|   B+|       3.333|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               22|          mayday|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               21|       camcorder|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               20|   heywoodyamind|   B-|       2.667|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               19|     euraquittin|   A-|       3.667|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               18|     frankfurter|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               17|     crystalball|    C|         2.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               16|        maximumm|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               15|   roxannegravel|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               14|roseabov-duresst|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               13|      anitafavor|    A|         4.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               12|        abbykuss|   A-|       3.667|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               11|      raytracing|   B-|       2.667|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|               10|  lisakarfurless|   C+|       2.333|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
|                9|       karenless|    B|         3.0|1221|IST615|   M001|        22|      28|    2021-2022|Fall 2021|    Fall|2021|      3|Cloud services cr...|Cloud Management|
+-----------------+----------------+-----+------------+----+------+-------+----------+--------+-------------+---------+--------+----+-------+--------------------+----------------+
only showing top 20 rows

In [ ]:
enrollmentsNew = enrollmentJoin.join(programjoin, enrollmentJoin.student_id == programjoin.studentid,"inner")

enrollmentsNew.printSchema()
enrollmentsNew.show()

root
 |-- course_enrollment: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: string (nullable = true)
 |-- term: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: string (nullable = true)
 |-- capacity: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- termname: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- coursename: string (nullable = true)
 |-- programid: string (nullable = true)
 |-- programcredits: integer (nullable = true)
 |-- programname: string (nullable = true)
 |-- type: string (nullable = true)
 |-- studentid: string (nullable = true)
 |-- name: string (nullable = true)

+-----------------+----------+-----+------------+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+---------+--------------+-------------------+-------+----------+-----------+
|course_enrollment|student_id|grade|grade_points|term|course|section|enrollment|capacity|academic_year|   termname|semester|year|credits|         description|          coursename|programid|programcredits|        programname|   type| studentid|       name|
+-----------------+----------+-----+------------+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+---------+--------------+-------------------+-------+----------+-----------+
|                3|  nattural|    A|         4.0|1232|IST615|   M002|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST615|   M002|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST615|   M001|        21|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST615|   M001|        21|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|    Cloud Management|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST659|   M001|        20|      20|    2022-2023|Spring 2023|  Spring|2023|      3|Definition, devel...|Data Administrati...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST659|   M001|        20|      20|    2022-2023|Spring 2023|  Spring|2023|      3|Definition, devel...|Data Administrati...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST687|   M001|        19|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Introduces inform...|Introduction to D...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST687|   M001|        19|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Introduces inform...|Introduction to D...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST769|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Analyze relationa...|Advanced Big Data...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST769|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Analyze relationa...|Advanced Big Data...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST621|   M002|        21|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST621|   M002|        21|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST621|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST621|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Information and t...|Information Manag...|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST718|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|A broad introduct...|  Big Data Analytics|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST718|   M001|        28|      28|    2022-2023|Spring 2023|  Spring|2023|      3|A broad introduct...|  Big Data Analytics|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                3|  nattural|    A|         4.0|1232|IST714|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Advanced, lab-bas...|  Cloud Architecture|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|               11|  nattural|    A|         4.0|1232|IST714|   M001|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Advanced, lab-bas...|  Cloud Architecture|       IS|            36|Information Systems|Masters|  nattural|  Nat Tural|
|                6|artiechoke|    A|         4.0|1231|IST615|   M001|        21|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|Cloud services cr...|    Cloud Management|       DS|            34|       Data Science|Masters|artiechoke|Artie Choke|
|               12|artiechoke|    A|         4.0|1231|IST615|   M001|        21|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|Cloud services cr...|    Cloud Management|       DS|            34|       Data Science|Masters|artiechoke|Artie Choke|
+-----------------+----------+-----+------------+----+------+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+---------+--------------+-------------------+-------+----------+-----------+
only showing top 20 rows

In [ ]:
#10 wide_enrollments to elastic search
enrollmentsNew.write.mode("Overwrite").format("es").save("enrollments/_doc")
enrollmentEs = spark.read.format("es").load("enrollments/_doc")
enrollmentEs.toPandas()

,academic_year,capacity,course,course_enrollment,coursename,credits,description,enrollment,enrollmentterm,grade,...,programid,programname,section,semester,student_id,studentid,term,termname,type,year
0,2021-2022,28,IST615,5,Cloud Management,3,Cloud services creation and management. Practi...,22,None,A,...,DS,Data Science,M001,Fall,dustindewinned,dustindewinned,1221,Fall 2021,Masters,2021
1,2021-2022,28,IST615,10,Cloud Management,3,Cloud services creation and management. Practi...,22,None,B-,...,DS,Data Science,M001,Fall,dustindewinned,dustindewinned,1221,Fall 2021,Masters,2021
2,2021-2022,24,IST615,15,Cloud Management,3,Cloud services creation and management. Practi...,19,None,A-,...,DS,Data Science,M001,Spring,dustindewinned,dustindewinned,1222,Spring 2022,Masters,2022
3,2022-2023,24,IST615,21,Cloud Management,3,Cloud services creation and management. Practi...,21,None,A,...,DS,Data Science,M001,Fall,dustindewinned,dustindewinned,1231,Fall 2022,Masters,2022
4,2022-2023,24,IST615,16,Cloud Management,3,Cloud services creation and management. Practi...,21,None,A,...,DS,Data Science,M001,Fall,dustindewinned,dustindewinned,1231,Fall 2022,Masters,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6331,2021-2022,28,IST718,8,Big Data Analytics,3,A broad introduction to big data analytical an...,28,None,A,...,DS,Data Science,M001,Spring,tydibol,tydibol,1222,Spring 2022,Masters,2022
6332,2022-2023,28,IST718,21,Big Data Analytics,3,A broad introduction to big data analytical an...,28,None,A,...,DS,Data Science,M001,Spring,tydibol,tydibol,1232,Spring 2023,Masters,2023
6333,2021-2022,20,IST714,9,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",17,None,A,...,DS,Data Science,M001,Spring,tydibol,tydibol,1222,Spring 2022,Masters,2022
6334,2021-2022,20,IST714,8,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",17,None,A,...,DS,Data Science,M001,Spring,tydibol,tydibol,1222,Spring 2022,Masters,2022
6335,2022-2023,24,IST714,21,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",20,None,A,...,DS,Data Science,M001,Spring,tydibol,tydibol,1232,Spring 2023,Masters,2023

In [ ]:
# This  Spark Code  clears the neo4j database of all nodes and relationships and resets neo4j database
!pip install neo4j

from neo4j import GraphDatabase


neo4j_user = "neo4j_username"
neo4j_password = "neo4j_password"

# Define a function to clear the Neo4j database
def clear_neo4j_database():
    driver = GraphDatabase.driver(bolt_url, auth=(neo4j_user, neo4j_password))
    with driver.session() as session:
        session.run("MATCH (n) DETACH DELETE n")

# Call the function to clear the database
clear_neo4j_database()

Requirement already satisfied: neo4j in /opt/conda/lib/python3.9/site-packages (5.20.0)
Requirement already satisfied: pytz in /opt/conda/lib/python3.9/site-packages (from neo4j) (2021.1)

In [ ]:
#12a Loading courses into Neo4j

cypher = "MERGE (c:Courses {courseid: event.courseid, credits: event.credits, description: event.description, coursename: event.coursename})"
coursesN= courses.select("courseid", "credits", "description", "coursename")
coursesN.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cypher) \
  .save()

course = "MATCH (c:Courses) RETURN c.coursename, c.credits, c.courseid, c.description"

coursecheck = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", course) \
    .load()

In [ ]:

   coursecheck.show()

+--------------------+---------+----------+--------------------+
|        c.coursename|c.credits|c.courseid|       c.description|
+--------------------+---------+----------+--------------------+
|Data Administrati...|        3|    IST659|Definition, devel...|
|    Data Warehousing|        3|    IST722|Introduction to c...|
|Advanced Big Data...|        3|    IST769|Analyze relationa...|
|    Cloud Management|        3|    IST615|Cloud services cr...|
|  Cloud Architecture|        3|    IST714|Advanced, lab-bas...|
|Information Manag...|        3|    IST621|Information and t...|
|Introduction to D...|        3|    IST687|Introduces inform...|
|Applied Machine L...|        3|    IST707|General overview ...|
|  Big Data Analytics|        3|    IST718|A broad introduct...|
+--------------------+---------+----------+--------------------+

In [ ]:
#12b Loading programs into neo4j

cypher = "MERGE (p:Program {programname: event.programname, programcredits: event.programcredits, programid: event.programid, type: event.type})"
program = programs.select("programname", "programcredits", "programid", "type")
program.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cypher) \
  .save()

programcheck = "MATCH (p:Program) RETURN p.programname, p.programcredits, p.programid, p.type"

programdf = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", programcheck) \
    .load()

programdf.show()

+--------------------+----------------+-----------+-----------+
|       p.programname|p.programcredits|p.programid|     p.type|
+--------------------+----------------+-----------+-----------+
| Information Systems|              36|         IS|    Masters|
|        Data Science|              34|         DS|    Masters|
|Data Engineering ...|               9|        BDC|Certificate|
|Cloud Computing C...|               9|        CCC|Certificate|
|Machine Learning ...|               9|        MLC|Certificate|
+--------------------+----------------+-----------+-----------+

In [ ]:
# Define the Cypher query with parameters to demonstrate relationships in Neo4j


from pyspark.sql.functions import explode_outer
reqcoursesdf = programs.select("programname", "programcredits", "programid", "type", explode_outer("required_courses").alias("required_course"))

cql = '''
MATCH (p:Program), (c:Courses)
where p.programid = event.programid and c.courseid = event.required_course
MERGE (p)-[:REQUIRES]->(c)
'''

new = reqcoursesdf.select("programid","required_course")
new.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cql) \
  .save()
new.show()

q4 = '''
MATCH (p)-[:REQUIRES]->(c)
RETURN p.programname, p.programid, p.programcredits, p.type, c.coursename as required_courses, c.credits, c.description, c.courseid
'''

requiredcourse= spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",q4) \
  .load()
requiredcourse.toPandas()

+---------+---------------+
|programid|required_course|
+---------+---------------+
|       IS|         IST659|
|       IS|         IST615|
|       IS|         IST621|
|       DS|         IST659|
|       DS|         IST615|
|       DS|         IST687|
|       DS|         IST718|
|       DS|         IST707|
|      BDC|         IST659|
|      BDC|         IST722|
|      BDC|         IST769|
|      CCC|         IST621|
|      CCC|         IST615|
|      CCC|         IST714|
|      MLC|         IST687|
|      MLC|         IST707|
|      MLC|         IST718|
+---------+---------------+

,p.programname,p.programid,p.programcredits,p.type,required_courses,c.credits,c.description,c.courseid
0,Information Systems,IS,36,Masters,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",IST659
1,Information Systems,IS,36,Masters,Cloud Management,3,Cloud services creation and management. Practi...,IST615
2,Information Systems,IS,36,Masters,Information Management and Technology,3,Information and technology management overview...,IST621
3,Data Science,DS,34,Masters,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",IST659
4,Data Science,DS,34,Masters,Cloud Management,3,Cloud services creation and management. Practi...,IST615
5,Data Science,DS,34,Masters,Introduction to Data Science,3,Introduces information professionals to fundam...,IST687
6,Data Science,DS,34,Masters,Big Data Analytics,3,A broad introduction to big data analytical an...,IST718
7,Data Science,DS,34,Masters,Applied Machine Learning,3,General overview of industry standard machine ...,IST707
8,Data Engineering Certificate,BDC,9,Certificate,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",IST659
9,Data Engineering Certificate,BDC,9,Certificate,Data Warehousing,3,Introduction to concepts of business intellige...,IST722
10,Data Engineering Certificate,BDC,9,Certificate,Advanced Big Data Management,3,Analyze relational and non-relational database...,IST769
11,Cloud Computing Certificate,CCC,9,Certificate,Information Management and Technology,3,Information and technology management overview...,IST621
12,Cloud Computing Certificate,CCC,9,Certificate,Cloud Management,3,Cloud services creation and management. Practi...,IST615
13,Cloud Computing Certificate,CCC,9,Certificate,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",IST714
14,Machine Learning Certificate,MLC,9,Certificate,Introduction to Data Science,3,Introduces information professionals to fundam...,IST687
15,Machine Learning Certificate,MLC,9,Certificate,Applied Machine Learning,3,General overview of industry standard machine ...,IST707
16,Machine Learning Certificate,MLC,9,Certificate,Big Data Analytics,3,A broad introduction to big data analytical an...,IST718

In [ ]:
#13b program course electives
# Define the Cypher query with parameters


from pyspark.sql.functions import explode_outer
elective_courses = programs.select("programname", "programcredits", "programid", "type", explode_outer("elective_courses").alias("elective_course"))

cql = '''
MATCH (p:Program), (c:Courses)
where p.programid = event.programid and c.courseid = event.elective_course
MERGE (p)-[:ELECTIVE]->(c)
'''

new = elective_courses.select("programid","elective_course")
new.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cql) \
  .save()
new.show()

q4 = '''
MATCH (p)-[:ELECTIVE]->(c)
RETURN p.programname, p.programid, p.programcredits, p.type, c.coursename as elective_courses , c.credits, c.description, c.courseid
'''

electivecourse= spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",q4) \
  .load()
electivecourse.toPandas()

+---------+---------------+
|programid|elective_course|
+---------+---------------+
|       IS|         IST722|
|       IS|         IST714|
|       IS|         IST687|
|       IS|         IST707|
|       DS|         IST769|
|       DS|         IST714|
|      BDC|           null|
|      CCC|           null|
|      MLC|           null|
+---------+---------------+

,p.programname,p.programid,p.programcredits,p.type,elective_courses,c.credits,c.description,c.courseid
0,Information Systems,IS,36,Masters,Data Warehousing,3,Introduction to concepts of business intellige...,IST722
1,Information Systems,IS,36,Masters,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",IST714
2,Information Systems,IS,36,Masters,Introduction to Data Science,3,Introduces information professionals to fundam...,IST687
3,Information Systems,IS,36,Masters,Applied Machine Learning,3,General overview of industry standard machine ...,IST707
4,Data Science,DS,34,Masters,Advanced Big Data Management,3,Analyze relational and non-relational database...,IST769
5,Data Science,DS,34,Masters,Cloud Architecture,3,"Advanced, lab-based exploration of enterprise ...",IST714

In [ ]:
#14 course prerequisites

from pyspark.sql.functions import explode_outer

preqcourses = courses.select("coursename", "credits", "courseid", "description", explode_outer("prerequisites").alias("preq"))

cql = '''
MATCH (c:Courses),(k:Courses)
where c.courseid =  event.courseid and k.courseid = event.preq
MERGE (c)-[:PREREQUISITES]->(k)
'''

df = preqcourses.select("courseid","preq")
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cql) \
  .save()
df.show()

+--------+------+
|courseid|  preq|
+--------+------+
|  IST659|  null|
|  IST722|IST659|
|  IST769|IST659|
|  IST615|  null|
|  IST714|IST615|
|  IST621|  null|
|  IST687|  null|
|  IST707|IST687|
|  IST718|IST687|
+--------+------+

In [ ]:
#15 Cypher query courses required in DS and IS

CQL = '''
MATCH (p:Program)
WHERE p.programid IN ['IS', 'DS']
MATCH (p)-[:REQUIRES]->(c:Courses)
WITH c, COUNT(DISTINCT p) AS program_count
WHERE program_count = 2
RETURN c.courseid AS courseid, c.coursename AS course_title
'''

df = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", CQL) \
    .load()

df.show()

+--------+--------------------+
|courseid|        course_title|
+--------+--------------------+
|  IST615|    Cloud Management|
|  IST659|Data Administrati...|
+--------+--------------------+

In [ ]:
#16 Cypher to spark table


q4 = '''
MATCH (p)-[:REQUIRES]->(c)
RETURN c.courseid as course_code , c.coursename as course_title , COUNT(c.coursename) as required_courses_count
'''

requiredcourse= spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",q4) \
  .load()
requiredcourse.toPandas()

,course_code,course_title,required_courses_count
0,IST659,Data Administration Concepts and Database Mana...,3
1,IST615,Cloud Management,3
2,IST621,Information Management and Technology,2
3,IST687,Introduction to Data Science,2
4,IST718,Big Data Analytics,2
5,IST707,Applied Machine Learning,2
6,IST722,Data Warehousing,1
7,IST769,Advanced Big Data Management,1
8,IST714,Cloud Architecture,1